# Example .env file - copy to ./.env and fill in values
# NB: the "dot" in filename is significant
AWS_ACCESS_KEY_ID=XXXXXXXX
AWS_SECRET_ACCESS_KEY=ZZZZZZZ
AWS_REGION=us-east-1

# CLASS="production"
CLASS="staging"
HANDLER=/usr/local/bin/synchandler.pl

# JSON-encoded array of arrays, each inner array is has three strings:
# watch directory, s3 base uri for solr inbound, s3 base uri for solr deletes
WATCHDIRS='[
["/opt/output/subjects","s3://mandala-ingest-${CLASS}-inbound/testing-inbound/2022/subject/","s3://mandala-ingest-${CLASS}-inbound/testing-delete/2022/subjects/"],
["/opt/output/places","s3://mandala-ingest-${CLASS}-inbound/testing-inbound/2022/places/","s3://mandala-ingest-${CLASS}-inbound/testing-delete/2022/places/"],
["/opt/output/terms","s3://mandala-ingest-${CLASS}-inbound/testing-inbound/2022/terms/","s3://mandala-ingest-${CLASS}-inbound/testing-delete/2022/terms/"]
]'
HTTP_PORT=8080

SYNCH_SKIP_INITIAL_SYNC=true
SYNCH_RCLONE_CONF=/root/.config/rclone/rclone.conf
SYNCH_RCLONE_DRY_RUN=true
SYNCH_RCLONE_USE_CHECKSUM=false
SYNCH_RCLONE_EXTRA_FLAGS="--log-level INFO"
